$header-height: 3.5rem;

// colors
$primary33: #33B44A;
$green-light: #EBF8ED;
$primary29: #29903B;
$primary2e: #2e9540;
$primary2b: #ebf8ed;

$black: #1A1A1A;
$black28: #282828;
$bg-gray: #292f3a;
$text: #626F82;
$text3a: #3A424E;
$texte0: #e0e2e6;
$texta8: #a8a8a8; 
$text36: #363636;
$text31: #313131;
$texta3: #a3a3a3;
$text-heading: #2d3958;
$text-black: #120f1f;
$black-color-lighten: hsl(220, 20%, 18%);

// fonts
$font-family: "Lexend", sans-serif;